<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  E-Bike Configurator
{% endblock %}

{% block content %}

        <h2></h2>    
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-primary btn-med" id="safety" href="safety.html" align="center">Safety Considerations</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-primary btn-med" id="technology" href="technologies.html" align="center">E-Bike Technologies</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-primary btn-med" id="features" href="features.html" align="center">Additional Equipment</a>
            </div>
        </div>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; E-Bike Configurator 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

{% endblock %}
